.mystudents-container{
    margin-top: 20px;
}
/* .studentlist{
    border: 1px solid red;
} */
.mystudents-container h3{
    margin-bottom: 10px;
}
.users{
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 4px 8px;
    border-radius: 6px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.users:hover{
    background-color: var(--secondary-color);
}
.users p{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    font-weight: 600;

}
.users p small{
    background-color: var(--secondary-color);
    padding: 4px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}
.users .profile-image img{
border-radius: 50%;
object-fit: cover;
}
.users .initials{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    border-radius: 50%;
    color: #fff;
}
.users .users-name{
/* border: 1px solid red; */
display: flex;
flex-direction: column;
}
.users .users-name small{
    font-style: italic;
}
.users.user-page{
    display: flex;
    align-items: center;
    gap: 4px;
    background: none;
    box-shadow: none;
    padding: 4px 8px;
    border-radius: 6px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.3s;
    /* border: 1px solid red; */
}
.student:hover{
    background-color: #d3d3d3
} 
.student-info{
    /* border: 1px solid red; */
    margin-top: 20px;
}
.student-info p{
    font-style: italic;
}
.rendered-content .dashboard-card .dash-btn{
    margin: 0;
    margin-top: auto;
    width: 100%;
}
@media (min-width:768px){
    .studentlist{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 16px;
    }
    .users{
        /* width: 250px; */
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

    }
    .users p{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .users p small{
        margin-top: 10px;
    }
    .users.user-page{
        display: flex;
        align-items: flex-start;
        gap: 4px;
        background: none;
        box-shadow: none;
        padding: 4px 8px;
        border-radius: 6px;
        margin-bottom: 20px;
        cursor: pointer;
        transition: 0.3s;
        /* border: 1px solid red; */
    }
}