.edit-profile{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    /* display: flex;
    justify-content: center; */
    /* align-items: center; */
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    padding: 30px 0;
    /* border: 1px solid red; */
}
.edit-profile-content{
    width: 100%;
}
  .edit-profile h3{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .edit-profile form{
    width: 50%;
    margin: auto;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
  }
  .edit-profile label{
    font-weight: 500;
  }
  .form-btns{
    display: flex;
    gap: 20px;
    width: 80%;
    margin: auto;
    margin-top: 10px;
  }
 
  .edit-profile button{
    display: block;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 8px;
    font-size: 16px;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 4px;
    padding: 4px;
    cursor: pointer;
    
  }
  .authmessage{
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:red ;
    padding: 4px;
    margin-top: 4px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
    margin: auto;
  }
  .authmessage p {
    color: #fff;
  }

 
  label {
    display: block;
    color: #333;
    margin-top: 10px;
}
input {
    border: 1px solid #ccc;
    padding: 14px;
    font-size: 1em;
    width: 100%;
    border-radius: 6px;
    color: var(--dark-text);
  }
  .form-group .form-list{
    /* border: 1px solid red; */
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
   }
   .form-group .form-list .item{
    /* border: 1px solid red; */
    background-color: #4158D0;
    color: #fff;
    padding: 4px;
    border-radius: 4px;
    display: flex;
    align-items: center;
   }
   input:focus{
   outline: none;
   border: 1px solid #007bff77;
   }


   .showpassword{
    display: flex;
    align-items:center;
    justify-content:flex-start ;
    padding: 0;
    gap: 4px;
  }
  .showpassword label{
    margin: 0;
  }
  .showpassword input{
    width: auto;
    margin: 0;
    padding: 0;
  }
  .delete-account{
    padding:20px;
  }
  .delete-accbtn{
    background-color: red;
    color: #fff;
  }
  .delete-account .form-group{
    width: 50%;
  }
  .delete-account button{
    display: block;
    margin-top: 10px;
    padding: 8px;
    color: #fff;
    font-size: 16px;
    background-color: red;
  }
  .form-group button{
    width: fit-content;
    margin: 0;
  }
 .edit-profile textarea {
    width: 100%;
    height: 200px;
    resize: none;
    border: 1px solid #ccc;
    padding: 4px;
    font-size: 1em;
    width: 100%;
    border-radius: 6px;
    color: var(--dark-text);
  }
  textarea:focus{
    outline: none;
    border: 1px solid #007bff77;
    }
.edit-modal{
  position: fixed;
   /* border: 1px solid red; */
  top: 0;
  left: 0;
  z-index: 10000;
  height: 100vh;
  width: 100vw;
  background-color: #00000099;
  
}

.edit-image{
  /* border: 1px solid red; */
  background-color: #333;
  width: 60%;
  margin: auto;
  margin-top: 50px;
  padding: 10px;
  position: relative;
  border-radius: 4px;
}
.edit-image img{
  border-radius: 4px;
  object-fit: contain;
}
.new-image-preview{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1b1f23;
}
.new-image-preview p{
  width: fit-content;
  margin: auto;
  margin-top: 10px;
}
.new-image{
  width: 60%;
  height: 300px;
  margin: auto;
}
.new-image img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.edit-profileImage-icon{
  color: var(--primary-color);
}
.edit-image p{
  color: #fff;
  font-size: 20px;
  /* width: 90%; */
  margin: auto;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.profile-pic-buttons{
  display: flex;
  margin: auto;
  margin-top: 20px;
  gap: 30px;
  width: fit-content;
}


#file-upload {
  display: none;
}

.upload-button {
  background-color: var(--primary-color); 
  color: #fff; 
  padding: 4px;
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
}
.upload-button:hover {
  background-color: var(--secondary-color) /* Darker green on hover */
}

/* Optional: Add a file name display */
.file-name {
  margin-left: 10px;
  font-size: 16px;
}
.save-cancel{
  margin: auto;
  width:fit-content ;
}
.save-cancel button{
  margin: 10px;
  font-size: 16px;
  padding: 4px 20px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.edit-image .authmessage {
 display: flex;
 align-items: center;
 border-radius: 0;
}
.edit-image .authmessage p{
  font-size: 14px;

}


/* -----------------------------------------------------------------------------
-----------------------edit password---------------------------------------
------------------------------------------------------------------------- */

.edit-password{
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  height: 100%;
  padding-top: 30px;
}
.edit-password-content{
  width: 50%;
  margin: auto;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
}
.edit-password h3{
  display: flex;
  justify-content: space-between;
}
.edit-password button{
  display: block;
  text-align: center;
  width: 50%;
  margin: auto;
  margin-top: 8px;
  font-size: 16px;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 4px;
  padding: 4px;
  cursor: pointer;
}
@media (max-width: 700px){
  .edit-profile-content{
    width: 100%;
    margin-bottom: 60px;
}
  .edit-profile form{
    width: 90%;
  }
  .edit-password-content{
    width: 90%;
 
  }
}
    @media (min-width: 768px) and (max-width:1024px){
      .edit-profile form{
        width: 70%;
      }
    }

  @media (max-width: 768px){
    .edit-profile{
        display: block;
    }
    
    .edit-image{
      /* border: 1px solid red; */
      background-color: #1b1f23;
      width: 90%;
      margin: auto;
      padding: 10px;
      position: relative;
    }
    .new-image-preview{
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #1b1f23;
    }
    .new-image{
      width: 90%;
      height: 300px;
      margin: auto;
      position: relative;
    }
    .new-image img{
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .authmessage{
        width: 90%;
      }
      .delete-account .form-group{
        /* border: 1px solid red; */
        width: 80%;
        margin: auto;
      }
      .delete-account button{
        margin: auto;
        margin-top: 10px;
        width: 100px;
      }
      .delete-account .warning-text{
        background-color: var(--neutral);
        width: 90%;
        margin: auto;
      }
  }