.profile{
    width: 100%;
    /* border: 1px solid red; */
    margin: auto;
}
.profile .image{
    display: flex;
    justify-content: center;
   align-items: center; 
   flex-direction: column;
   margin-bottom: 20px;
   /* border: 1px solid red; */
   height: 250px;
   background-color: #4158D0;
   background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%)
}
.profile .image h3,.profile .image p{
    color: #fff;

}
.profile .image img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}
.profile .details{
    width: 90%;
    margin: auto;
}
.profile .user-detail{
    border-radius: 6px;
    padding: 4px;
    width: 100%;
    background-color: var(--neutral-bg);
    margin: auto;
    margin-bottom: 20px;
  } 
  .profile .user-detail h3{
    text-align: center;
}
.profile .user-detail .name{
      margin-top: 10px;
  }

@media (min-width:1024px){
    .profile{
        width: 80%;
        padding: 20px;
        border: 1px solid rgb(0, 0, 0);
        margin: auto;
        margin-top: 20px;
    }
   .profile .user-detail{
        border-radius: 6px;
        padding: 4px;
        width: 50%;
        background-color: var(--neutral-bg);
        margin: auto;
        margin-bottom: 8px;
      }
}