.profile{
    width: 90%;
    /* border: 1px solid red; */
    margin: auto;
}
.profile .image{
    display: flex;
    justify-content: center;
   align-items: center; 
   margin-bottom: 20px;
}
.profile .user-detail{
    border-radius: 6px;
    padding: 4px;
    width: 100%;
    background-color: var(--neutral-bg);
    margin: auto;
    margin-bottom: 8px;
  } 
  .profile .user-detail h3{
    text-align: center;
}
.profile .user-detail .name{
      margin-top: 10px;

  }
.profile .image img{
    object-fit: fill;
    border-radius: 4px;

}
@media (min-width:1024px){
    .profile{
        width: 80%;
        padding: 20px;
        border: 1px solid rgb(0, 0, 0);
        margin: auto;
        margin-top: 20px;
    }
   .profile .user-detail{
        border-radius: 6px;
        padding: 4px;
        width: 50%;
        background-color: var(--neutral-bg);
        margin: auto;
        margin-bottom: 8px;
      }
}