footer{
    background-color:#eee;
    padding: 20px 40px;
    color: #fff;
    width: 100%;
}
footer h3{
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
}
footer li a{
    color: #333;
}
.quicklinks{
    /* border: 1px solid wheat; */
    gap: 100px;
    margin: auto;
}
.primary-links ul{
    display: flex;
    gap:  30px;
    width: fit-content;
    margin: auto;
}
.copyright{
    text-align: center;
    color: #333
}
.socials{
    /* border: 1px solid white; */
    margin: 10px auto ;
    width: fit-content;
    display: flex;
    gap: 20px;
}
.socials a{
    font-size: 30px;
    color: #333;
}
.secondary-links{
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin:20px auto;
}
.secondary-links p{
    color: var(--primary-color);
}
.secondary-links a{
color: var(--primary-color);
}
@media (max-width: 768px){
    .quicklinks{
        gap: 20px;
    }
    .primary-links a{
        font-size: 14px;
        
    }
    footer{
        margin-bottom: 70px;
        padding: 10px 20px;
        color: var(--primary-color);
         width: 100%;
    }
}