
/* .quiz-blocks{
    border: 1px solid blue;
    
} */
.quiz-blocks-list{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.quiz-block.featured{
    border: 1px solid #636363;
    border-radius: 4px;
    margin-bottom: 20px;
}
.quiz-block.featured .quiz-image{
    width: 100%;
    height: 250px;
    position: relative;
    /* border: 1px solid green; */
}
.quiz-block.featured .quiz-image img{
    background-color: #fff;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.quiz-block.featured .quiz-details{
    padding: 4px;
}
.quiz-blocks-list .quiz-block{
/* border: 1px solid var(--secondary-color); */
display: flex;
gap: 4px;
align-items: center;
border-radius: 2px;
}
.quiz-blocks-list .quiz-block img{
/* border: 1px solid red; */
object-fit: cover;
border-radius: 4px;
}



.quiz-block .quiz-details p{
    font-size: 16px;
    color: #00000095;
    font-weight: 700;
}

@media (min-width:768px){
    .quiz-block.featured{
        border: 1px solid #636363;
        border-radius: 4px;
        margin-bottom: 20px;
        width: 400px;
    }
    .quiz-block.featured .quiz-image{
        width: 100%;
        height: 250px;
        position: relative;
        /* border: 1px solid green; */
    }
    .quiz-block.featured .quiz-image img{
        background-color: #fff;
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 4px;
    }
}