.terms{
    width: 80%;
    margin: auto;
    padding: 20px;
}
.terms h4, .terms h1, .terms h2{
    color: var(--primary-color);
}
.terms ul li{
    list-style-type: disc;
    font-size: 16px;

}
.terms h4{
    margin-top: 10px;
}
@media (max-width:768px){
    .terms{
        width: 90%;
    }
}