section{
  padding: 20px;
    /* width: 80%; */
    margin: auto;
    /* margin-top: 50px; */
    /* border: 1px solid red; */
}
section h2{
text-align: center;
color: var(--primary-color);
}
.feature-section{
  background-image: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%,#fff 100%);
}
.aboutus h2{
    text-align: center;
    margin-top: 20px;
}
.features h2{
    text-align: center;
    margin-top: 20px;
}
  
  .features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 50px 20px;
    width: 80%;
    margin: auto;
    text-align: center;
    /* border: 1px solid red; */
  }
  .feature-card li, .feature-card p{
    font-size: 14px;
  }
  .feature-card li{
    text-align: start;
    width: 100%;
  }
  
  .feature-card {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .feature-card ul svg{
    font-size: 8px;
  }

  .feature-card ul{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
  }
  
  .feature-img {
    /* border: 1px solid red; */
    max-width: 150px;
    height: 150px;
    margin: auto;
    margin-bottom: 10px;
  }
  .feature-img img{
    width: 100%;
    height: 100%;
  }
  .feature-card h3 {
    margin: 10px 0;
  }
.feature-cta{
  /* border: 1px solid red; */
  width: fit-content;
}
.feature-cta button{
  background-color: var(--primary-color);
  margin: 10px;
  padding: 4px;
  border-radius: 4px;
}
.feature-cta button a{
  color: #eee;

}
.brief-intro{
    width: 80%;
    text-align: center;
    margin: auto;
}
.brief-intro a{
  color: #fff;
}
.brief-intro button{
  display: block;
  margin: auto;
  margin-top: 10px;
  padding: 4px;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.explore{
  width:80%;
  margin: auto;
  text-align: center;
}
.explore button{
  background-color: var(--primary-color);
  border-radius: 4px;
  padding: 4px;
  color: #fff;
}
@media (max-width: 768px){
  .features {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px 20px;
    width:100%;
  
  }
  .feature-cta button{
    padding: 8px;
    font-size: 14px;
  }
  .brief-intro{
    width: 100%;
    padding: 20px;
}
.brief-intro button{
  display: block;
  margin: auto;
  margin-top: 10px;
  padding: 8px;
  font-size: 14px;
}

.explore{
  width:100%;
}
.explore button{
  background-color: var(--primary-color);
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
}
}