.tiptap-post{
    border: none;
    outline: none;
}
/* .posts-highlight{
    border: 1px solid red;
} */

.empty-posts img{
    width: 300px;
    height: 300px;
}
.posts button{
    font-size: 16px;
}
.empty-posts{
    text-align: center;
  }
  .empty-posts button,.add-post{
    margin-top: 10px;
    background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%);
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
    color:#fff;
}

  .post-highlight{
    /* border: 1px solid blue; */
    margin-top: 30px;
    position: relative;
    border-top: 1px solid #ccc;
  }
  .post-highlight h3{
    display: flex;
    justify-content: space-between;
  }
  .options-icon{
    cursor: pointer;
    float: right;
  }
  .post-options{
    /* border: 1px solid red ; */
    position: absolute;
    top: 30px;
    right: 0;
    width: fit-content;
    z-index: 100;
    background: #fff;
    box-shadow: 0px 0px 10px 2px #ccc;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
  }

  .post-options button{
    background: transparent;
    cursor: pointer;
    color: #333;
  }
  .confirmDelete{
    border: 1px solid red; 
    padding: 4px;
    border-radius: 4px;
  }
  .confirmDelete p{
    margin-bottom: 10px;
    padding-bottom: 4px;
    border-bottom: 1px solid #ccc;
  }
  .delete-options{
    display: flex;
    gap: 10px;
  }
  .delete-options .delete{
   color: red;

  }
  .post-highlight p{
    font-size: 15px;
  }
  .preview-img{
    width: 100%;
    height: 250px;
  }
  .preview-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border: 1px solid red; */
  }

  .metrics{
    display: flex;
    gap: 10px;
    color: #333;
    width: fit-content;
    float: right;
    
    /* border: 1px solid red; */
  }
  .metric span{
    font-size:12px ;
  }
  @media (max-width:700px) {
    
  }
  @media (min-width:900px){
    .posts-highlights{
    width: 80%;
}
.post-highlight{
  /* border: 1px solid blue; */
  margin-top: 20px;
  border-top: 1px solid #ccc;
}
.tiptap-preview-img{
  width: 250px;
  height: 250px;
}
.tiptap-preview-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border: 1px solid red; */
}
  }