.class-list{
    /* border: 1px solid red; */
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.classcard{
    background-color: rgba(255, 255, 255, 1);
    padding: 16px;
    display:flex ;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
}
.classcard .classheader{
    display: flex;
    align-items: center;
    gap: 16px;
}
.classcard .class-title{
    font-weight: 600;
}
.classcard .class-icon{
    background-color: var(--secondary-color);
    padding: 0.5rem;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: rgba(255, 255, 255, 1);
}
.classcard .class-desc{
    margin-top: 16px;
  margin-bottom: 10px;
  color:#494949;
}
.classcard button{
    background: var(--secondary-color);
    display: block;
    width: 50%;
    margin: auto;
    padding: 8px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
}

.classcard .classdetails span{
font-weight: 600;
}
.classcard.add{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.classcard.add button{
    display: inline;
    margin: 0;
    background-color: transparent;
    color: #333;
    font-size: 18px;
}
.classcard.add svg{
    font-size: 40px;
    color: #333;
}

.no-class p{
    color: transparent;
    background-clip: text;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%);
    font-weight: 600;
}
.createclass{
   width: 90%;
   background-color: #f8f8f8;
   padding: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-radius: 4px;
}

.createclass form{
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.createclass form .classformfield input{
width: 100%;
border: 1px solid var(--secondary-color);
padding: 4px 8px;
border-radius: 4px;
}
.createclass form .classformfield input:focus,.createclass form .classformfield textarea:focus{
    outline: none;
}
.createclass form .classformfield textarea{
    width: 100%;
    height: 100px;
    resize: none;
    padding: 4px 8px;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
}
.createclass .createactions{
  display: flex;
  gap: 10px;
}
.createclass .createactions button{
    padding: 4px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.createclass .createactions .save{
    background-color: var(--primary-color);
}
.createclass .createactions .cancel{
    background-color: red;
}
.class-actions{
    display: flex;
    gap: 10px;
    margin:20px 0;
}
.class-actions .class-action{
    padding: 4px;
    border-radius: 4px;
    background-color: #f9f9f9;
    background-color: var(--secondary-color);
    font-weight: 600;
    cursor: pointer;
}
.class-actions .class-action.delete{
    background-color: red;
    color: #fff;
}
.addstudents{
    margin-top: 10px;
}
.addstudents-header{
    margin-bottom: 10px;
}
.addstudents-header svg{
    cursor: pointer;
}
.addstudent{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding-bottom: 4px;
    border-bottom: 1px solid #33333355;
}
.addstudent button{
    padding: 4px;
    border-radius: 4px;
    background-color: #f9f9f9;
    background-color: var(--secondary-color);
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
}
.addstudents p{
    margin-top: 10px;
}
.students-inclass{
    position: relative;

}
.class-students{
display: flex;
justify-content: space-between;
padding: 4px !important;
} 
.classstudent-user{
    display: flex;
    align-items: center;
    gap: 10px;
}

.student-action{
    background-color: red;
    color: #fff;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
}
.removestudentmodal{
    /* border: 1px solid red; */
    padding: 20px;
    border-radius: 4px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px #0000006b;
}
.removestudentmodal .remove-options{
display: flex;
justify-content: center;
gap: 10px;
margin-top: 20px;
}
.removestudentmodal .remove-options button{
    color: #fff;
    font-size: 18px;
    padding: 4px 12px;
    border-radius: 2px;
    cursor: pointer;
    border-radius: 4px;
}
.removestudentmodal .remove-options button:nth-child(1){
    background-color: var(--primary-color);
}
.removestudentmodal .remove-options button:nth-child(2){
    background-color: red;
}
.students-message{
    animation: slideDown 0.5s ease-in-out;
    padding: 6px;
    background-color:#80ef80;
    text-align: center;
    color: #fff;
    font-weight: 600;
    border-radius: 6px;
}
@keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
@media (min-width:768px){
    .class-list{
        gap: 20px;
    }
    .classcard{
        width: 30%;
        /* height: 200px; */
    }
    .classcard button{
        margin: 0;
    }
    .createclass{
        width: 50%;
    }
    .users.class-students{
        flex-direction: row;
    }
       
        
    /* .removestudentmodal{
        width: 50%;
        left: 50%;
        transform: translateX(-50%);
    } */
}