.notifications{
    /* position:absolute;
    left: 0;
    width: 100%;
    top: 50px; */
    z-index: 10000;
    height: 100%;
    background-color: #fff;
    padding: 10px 20px;
    overflow-y: auto;
}
.notifications h3{
    display: flex;
    justify-content: space-between;
}
.notification{
    border-bottom: 1px solid #ccc;
    border-radius: 4px;
}
.notification-div{
    margin-top: 10px;
}
.notification button{
    font-size: 14px;
    padding: 2px 4px;
    background-color: var(--primary-color);
    color: #fff;
}
.notify-popup{
    /* border: 1px solid red; */
    position: fixed;
    z-index: 20000;
    width: 100%;
    padding: 10px;
    background-color: #333;
    border-radius: 4px;
}
.notify-popup p{
    color: #fff;
}
.notify-popup svg{
    float: right;
    margin-left:10px;
    /* border: 1px solid red; */
    font-size: 20px;
    color: red;
}
@media (min-width:800px){
    .notifications{
        /* left: 50%; */
        width: 100%;
        box-shadow: 0px 0px 4px 1px #ccc;
        border-radius: 4px;
    }
    .notify-popup{
        /* border: 1px solid red; */
        width: 50%;
        left: 50%;
        transform: translate(-50%);
    }
}