.arena{
    /* background: linear-gradient(to right, #ff7e5f, #feb47b 10%, #C850C0 100%); */
    width: 100%;
    min-height: 66vh;
}
.arena-section{
    width: 80%;
    margin: auto;
}
.arena .heading{
    text-align: center;
}
.arena .heading h3,.arena .heading p{
    color: #fff;
}
.tab-links{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.tab-links p{
    background-color: var(--secondary-color);
    padding: 6px;   
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
}
.tab-links p:hover{
    background-color: #feb47b;
}
.arena-content{
    min-height: 60vh;
    height: fit-content;
}
.challenges{
    margin-top: 20px;
    /* border: 1px solid white; */
}
.challenge-card{
    padding: 10px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
}
.challenge-card button{
    background-color: #ff7e5f;
    padding: 4px 10px;
    border-radius: 4px;
    color: #fff;
}
.challenge-card button:hover{
    background-color: #feb47b;
}
/* .challenge-card img{
    color: #333333c9;
} */
.challenge p{
    color: #333333c9;
    font-weight: 600;
    display: flex;
    align-items: center;
    font-size: 18px;
}

/* media query */
@media (max-width:768px){
    .arena,.arena-section{
        width: 90%;
    }
    .challenge{
        border-radius: 4px;
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
    }
}
@media (min-width:768px){
    .tab-links{
        margin-top: 20px;
        gap: 40px;
    }
    .challenges a{
        display: flex;
        justify-content: center;
        width: 40%;
        margin: auto;
    }
    .challenges a .challenge{
        width: 100%;
    }
}